#projectLinksContainer {
    padding: 30px;
    background-color: var(--background-main);
    width: 50%;
    text-align: center;
    color: var(--text-color);
    border-radius: 15px;
    justify-content: flex-end;
}

#portfolioBanner {
    background-image: url('/pictures/portfolioBanner.png');
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
}

.arrowButton {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}

.arrow {
    font-size: 60px;
}

.tag {
    padding: 10px;
    border-width: 3px;
    border-radius: 20px;
    background-color: transparent;
    border-style: solid;
    font-size: 0.9rem;
    font-weight: 550;
    margin-right: 15px;
}

#tag1 {
    color: #b4befe;
    border-color: #b4befe;
}

@media (max-width: 768px) {
    #projectLinksContainer{
        display: none;
    }
  } 