.linksContainer {
    background-color: var(--background-main);
    color: var(--text-color);
}

.projectNavBar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--background-main);
}

#portfolioBanner {
    background-image: url('../pictures/portfolioBanner.png');
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 100px; 
}

.arrowButton {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}

.arrow {
    font-size: 60px;
}

.tag {
    padding: 10px;
    border-width: 3px;
    border-radius: 20px;
    background-color: transparent;
    border-style: solid;
    font-size: 0.9rem;
    font-weight: 550;
    margin-right: 15px;
}

#tag1 {
    color: #b4befe;
    border-color: #b4befe;
}

@media (max-width: 768px) {
    .linksContainer {
        margin-bottom: 20px;
    }
    #portfolioBannerContainer {
        justify-content: center !important; /* Center banner on mobile */
    }
}
