/* ##### GENERAL STYLES ##### */

/* color scheme */
:root {
  --background-main: #1e1e2e;
  --button-text: white;
  --hover-opacity: 70%;
  --text-color: #c6d0f5;
  --sub-text: #bac2de;
}

/* tags */
* {
  background-color: var(--background-main);
}

body {
  background-color: var(--background-main);
}

/* text styles */
.text {
  color: var(--text-color);
}

.subText {
  color: var(--sub-text);
}

.link {
  --s: 0.1em;
  --c: #babbf1;

  color: #89b4fa;
  padding-bottom: var(--s);
  background: linear-gradient(90deg, var(--c) 50%, #000 0)
      calc(100% - var(--_p, 0%)) / 200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
  text-decoration: none;
  font-weight: 600;
}
.link:hover {
  --_p: 100%;
}

/* containers */
.container {
  background-color: var(--background-main);
}

/* ##### BIO SECTION STYLES ##### */

#profile-image {
  border: 3px solid #eee;
  margin-bottom: 15px;
}

.button {
  color: var(--sub-text);
  background-color: transparent;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.button:hover {
  opacity: var(--hover-opacity);
}

.buttonIcon {
  width: 30px;
  height: 30px;
}

/* ##### PROJECT SECTION STYLES ##### */

.tag {
  padding: 10px;
  border-width: 3px;
  border-radius: 20px;
  background-color: transparent;
  border-style: solid;
  font-size: 0.9rem;
  font-weight: 550;
  margin-right: 15px;
  color: #b4befe;
  border-color: #b4befe;
}

#portfolioBanner {
  background-image: url("../pictures/portfolioBanner.png");
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 100px;
}
